.total {
    display: flex;
    flex-direction: column;
    width: 78%;
    border: 1px solid #000;
}

.total button {
    background: white;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    border-bottom: 1px solid black;
}

.total button:hover {
    background-color: lightgray;
}