.feed {
    
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown{
    width: 290px;
    position: absolute;
    top: 78px;
}