.feed {
    display: grid;
    grid-template-columns: 50% 50%;
    min-height: 100px;
    gap: 10px;
    margin: 10px;
    padding: 10px;
    align-items: flex-start;
}

.home {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dropdown{
    width: 290px;
    position: absolute;
    top: 78px;
}