    .timeStamp {
        font-size: .6em;
        color: #4f6068;
        font-weight: 900;
    }
    .commentViewing a:visited {
        color: #2867e8;
    }
    .commentViewing a{
        color: #2867e8;
        font-size: .7em;
        text-decoration: none;
        font-weight: 900;
    }
    .tag{
        margin: 5px;
    }
    .tags {
        clear: left;
        display: flex;
        flex-wrap: wrap;
    }
    .description {
        margin: 0px 0px 10px 0px;
    }
    .descriptionBody {
        font-size: .75em;
    }
    .descriptionName {
        float: left;
        padding-right: 10px;
        font-weight: 700;
        font-size: .75em;
    }
    .likeHeading {
        padding-bottom: 7px;
        font-size: .8em;
    }
    .metadata {
        background-color: #86efac;
        padding: 10px;
    }
    .leftButtons {
        display: flex;
        width: 50%;
        justify-content: space-around;
    }
    .rightButton {
        padding-right: 10px;
    }
    .actions button {
        background-color: white;
    }
    .actions {
        display: flex;
        justify-content: space-between;
        background-color: #a5f3fc;
        height: 60px;
        margin-top: -5px;
        border-bottom: 3px solid black;
        align-items: center;
    }
    .profileName {
        font-size: .9em;
    }
    .profileLocation {
        font-size: .6em;
        font-weight: 600;
    }
    .profileMeta {
        margin-left: 3px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .more {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .moreButton img {
        width: 50%;
    }
    .moreButton {
        background-color: #fde047;
    }
    .body img {
        width: 100%;
        aspect-ratio: --var(aspect-ratio);
        object-fit: cover;
        border-bottom: 3px solid black;
    }
    
    .standardCont {
        height: 40px;
        width: 40px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid #000;
        box-shadow: 3px 3px black;
    }
    .standardCont:active {
        box-shadow: none;
        transform: translateX(3px) translateY(3px);
    }
    .profilePicture img {
        max-width: 100%;
        max-height: 100%;
        aspect-ratio: 1/1;
    }
    .profilePicture {
        background-color: white;
        margin: 5px;
        height: 40px;
        width: 40px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid #000;
        box-shadow: 3px 3px black;
    }
    .heading {
        display: flex;
        background-color: #f472b6;
        justify-content: space-between;
        padding: 5px;
        border-bottom: 3px solid black;
    }
    .profileInfo {
        display: flex;
    }
    .full {
        width: 375px;
        border: 5px solid black;
        box-shadow: 5px 5px black;
        margin: 10px;
    }